pipeline/IF_Table.json
{
	"name": "IF_Table",
	"properties": {
		"activities": [
			{
				"name": "Input_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(TrxnDate) as Input_Table_Date from DBO.IfTable_input\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Dynamic_SQL_table",
						"type": "DatasetReference",
						"parameters": {
							"db_name": "ganeshdb",
							"table_name": "IfTable_input"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Output_Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(TrxnDate) as Output_Table_Date from DBO.IfTable_output",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Dynamic_SQL_table",
						"type": "DatasetReference",
						"parameters": {
							"db_name": "ganeshdb",
							"table_name": "IfTable_Output"
						}
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Input_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Output_Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(\n    activity('Input_lookup').output.firstRow.Input_Table_Date\n    ,activity('Output_Lookup').output.firstRow.Output_Table_Date\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait_False",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Dynamic_SQL_table",
									"type": "DatasetReference",
									"parameters": {
										"db_name": "ganeshdb",
										"table_name": "IfTable_input"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Dynamic_SQL_table",
									"type": "DatasetReference",
									"parameters": {
										"db_name": "ganeshdb",
										"table_name": "IfTable_Output"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-08-27T15:49:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}